{% import 'macros/form.html' as form %}
<form id="user-edit-form" class="dataset-form form-horizontal" method="post" action="{{ action }}">
  {{ form.errors(error_summary) }}

  <fieldset>
    <legend>{{ _('Change details') }}</legend>

    {{ form.input('fullname', label=_('Full name'), id='field-fullname', value=data.fullname, error=errors.fullname, placeholder=_('eg. Joe Bloggs'), classes=['control-medium']) }}

    <div class="control-group control-medium">
        <label class="control-label" for="field-email"><span title="This field is required" class="control-required">*</span> Email</label>
        <div class="controls ">
            <input id="field-email" type="email" name="email" value="{{data.email}}" placeholder="eg. joe@example.com" readonly>
        </div>
    </div>

    {% if data.name|length < 2 %}
      <input id="name" type="hidden" name="name" value="0{{data.name}}" placeholder="" autocomplete="off">
    {% else %}
      <input id="name" type="hidden" name="name" value="{{data.name}}" placeholder="" autocomplete="off">
    {% endif %}

    {{ form.markdown('about', label=_('About'), id='field-about', value=data.about, error=errors.about, placeholder=_('A little information about yourself')) }}

    {% if c.show_email_notifications %}
      {% call form.checkbox('activity_streams_email_notifications', label=_('Subscribe to notification emails'), id='field-activity-streams-email-notifications', value=True, checked=c.userobj.activity_streams_email_notifications) %}
      {% set helper_text = _("You will receive notification emails from {site_title}, e.g. when you have new activities on your dashboard."|string) %}
      {{ form.info(helper_text.format(site_title=g.site_title), classes=['info-help-tight']) }}
      {% endcall %}
    {% endif %}

  </fieldset>

  <input id="field-password" type="hidden" name="old_password" value="{{data.oldpassword}}" placeholder="" autocomplete="off">
  <input id="field-password" type="hidden" name="password1" value="{{data.password1}}" placeholder="" autocomplete="off">
  <input id="field-password-confirm" type="hidden" name="password2" value="{{data.password2}}" placeholder="" autocomplete="off">

  <div class="form-actions">
    {% block delete_button %}
      {% if h.check_access('user_delete', {'id': data.id})  %}
        {% set locale = h.dump_json({'content': _('Are you sure you want to delete this User?')}) %}
        <a class="btn btn-danger pull-left" href="{% url_for controller='user', action='delete', id=data.id %}" data-module="confirm-action" data-module-i18n="{{ locale }}">{% block delete_button_text %}{{ _('Delete') }}{% endblock %}</a>
      {% endif %}
    {% endblock %}
    {{ form.required_message() }}
    <button class="btn btn-primary" type="submit" name="save">{{ _('Update Profile') }}</button>
  </div>
</form>
