{% ckan_extends %}

{% block primary_content_inner %}
<h1 class="page-heading">
    {% block page_heading %}{{ _('Register for an Account') }}{% endblock %}
</h1>
<form class="form-horizontal" method="post">
    <div class="control-group">
      <label class="control-label" for="field-email">Email</label>
      <div class="controls">
          <input id="field-email" type="email" name="email" value="{{ c.email }}" readonly>
      </div>
    </div>
    <div class="control-group {% if c.error %}has-error{% endif %}">
      <label class="control-label" for="field-name">Username</label>
      <div class="controls">
          <input id="field-name" type="text" name="name" {% if c.error %}value="{{c.name}}"{% endif %} placeholder="Select a username">
          {% if c.error %}<span id="error-block" class="help-block">This username is not available. {% if c.format_error %}Only letters and numbers are allowed.{% endif %}</span>{% endif %}
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button class="btn btn-primary" type="submit">{{ _('Send') }}</button>
      </div>
    </div>
</form>
{% endblock %}
