{% ckan_extends %}

{% block subtitle %}{{ h.get_user_display_name(user, complete=True) }} - {{ _('Users') }}{% endblock %}

{% block breadcrumb_content %}
  {{ h.build_nav('user_index', _('Users')) }}
  {{ h.build_nav('user_datasets', h.get_user_display_name(user, complete=True)|truncate(35), id=user.name) }}
{% endblock %}

{% block user_heading %}
  <h1 class="heading">{{ h.get_user_display_name(user, complete=True) }}</h1>
{% endblock %}

{% block user_info %}
    <div class="info">
    {% if c.is_myself %}
      <dl>
        <dt>{{ _('Email') }} <span class="label" title="{{ _('This means only you can see this') }}">{{ _('Private') }}</span></dt>
        <dd>{{ h.get_user_email() }}</dd>
      </dl>
    {% endif %}
    <dl>
      <dt>{{ _('Member Since') }}</dt>
      <dd>{{ h.render_datetime(user.created) }}</dd>
    </dl>
    <dl>
      <dt>{{ _('State') }}</dt>
      <dd>{{ _(user.state) }}</dd>
    </dl>
{% endblock %}
